[user]
	name = Simon Bäckman
	email = simon@bckmn.se

[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work

[init]
	defaultBranch = main

[alias]
	st = status
	co = checkout
	cb = checkout -b
	update = !git checkout main && git pull
	cm = commit -m
	ca = commit --amend
	lon = log --oneline
	cp = cherry-pick

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[merge]
  conflictstyle = zdiff3

[pull]
  rebase = true

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[rerere]
  enabled = true
  autoupdate = true

[core]
  excludesfile = ~/.gitignore

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
